/** Estilo global para barra scroll*/

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f8fafd;
}

body::-webkit-scrollbar-thumb {
  background-color: #476ea8;
  border-radius: 20px;
  border: 1px solid #f8fafd;
}

/**Estilos menu_canales*/

.menu_canales-item,
.menu_canales-button {
  background: #cc1726;
  border-radius: 100%;
  width: 63px;
  height: 63px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu_canales-open {
  display: none;
}

.menu_canales-button i {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  color: white;
  font-size: 35px;
}

.menu_canales-item i {
  display: flex;
  justify-content: center;
  padding: 18px;
  color: white;
  font-size: 25px;
}
.menu_canales-item:hover i {
  color: #cc1726;
}
.menu_canales-open:checked + .menu_canales-button i {
  display: none;
}

.menu_canales-close {
  width: 25px;
  height: 3px;
  background: white;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.menu_canales-close1 {
  transform: translate3d(0, -8px, 0);
}

.menu_canales-close2 {
  transform: translate3d(0, 8px, 0);
}

.menu_canales-open:checked + .menu_canales-button .menu_canales-close1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
  display: block;
}

.menu_canales-open:checked + .menu_canales-button .menu_canales-close2 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
  display: block;
}

.menu_canales {
  position: fixed;
  left: 92%;
  top: 78%;
  bottom: 40px;
  right: 40px;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  box-sizing: border-box;
  font-size: 20px;
  z-index: 100;
}

.menu_canales-item:hover {
  background: white;
  color: #cc1726;
}
.menu_canales-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(7) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(8) {
  transition-duration: 180ms;
}
.menu_canales-item:nth-child(9) {
  transition-duration: 180ms;
}

.menu_canales-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu_canales-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu_canales-open:checked + .menu_canales-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu_canales-open:checked ~ .menu_canales-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(3) {
  transition-duration: 180ms;
  transform: translate3d(0.08361px, -104.99997px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(4) {
  transition-duration: 280ms;
  transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(5) {
  transition-duration: 380ms;
  transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(6) {
  transition-duration: 480ms;
  transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(7) {
  transition-duration: 580ms;
  transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(8) {
  transition-duration: 680ms;
  transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu_canales-open:checked ~ .menu_canales-item:nth-child(9) {
  transition-duration: 780ms;
  transform: translate3d(-0.25084px, -104.9997px, 0);
}
